<div class="container mt-3">
  <h1>Réserver une gaming party</h1>
  <%= simple_form_for [@gaming_session, @booking] do |f| %>
    <%= f.input :start_date%>
    <%= f.input :end_date%>
    <%= f.submit %>
  <% end %>
</div>
