<div class="icons">
    <i class="fa-solid fa-dice-six"></i>
    <% if @gaming_session.food? %>
      <i class="fa-solid fa-utensils"></i>
    <% end %>
    <% if @gaming_session.drink? %>
      <i class="fa-solid fa-martini-glass"></i>
    <% end %>
</div>
