<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card-creation-title">
        <br>
        <h1 class="t1">Référencez votre bar à jeu sur l'as des as!</h1>
        <br>
        <h1 class="t2">Attirez une toute nouvelle communauté de joueurs!</h1>
      </div>
    </div>
    <div class="col-6">
      <div class="forming">
        <%= render "form", gaming_session: @gaming_session %>
      </div>
    </div>
  </div>

</div>
