// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h1 {
  font-family: "Comfortaa", sans-serif;
  color: #19407D;
  font-size: 56px;
  font-weight: bold;
}

h2 {
  font-family: "Comfortaa", sans-serif;
  color: #19407D;
  font-size: 56px;
  font-weight: bold;
}

p {
  font-family: 'Josefin Sans', sans-serif;
font-size: 24px;
font-weight: 300;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}


//styleName: Corps de text;
