<div class="footer" style ="z-index: 10">
  <div class="row">
    <div class="col-6">
      <div class="footer-copyright">
        <p>On espère que vous avez bien joué avec L'as des as !</p>
      </div>
    </div>
    <div class="col-6">
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <%# <a href="#"><i class="fab fa-linkedin"></i></a> %>
      </div>
    </div>
  </div>
</div>
