.btn-orange {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 11px 30px;
gap: 10px;

position: absolute;
width: 161px;
height: 42px;
left: 520px;
top: 765px;

background: #FEA680;
border-radius: 70px;
}
