.button-blue {
  color: #FFFFFF;
  height: 42px;
  left: 1161px;
  top: 655px;
  border-radius: 70px;
  padding: 13px 15px 12px 15px;
  font-family: 'Josefin Sans';
  font-style: light;
  font-size: 16px;
  line-height: 25px;
  color: #19407D;
  text-transform: uppercase;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
  margin-right: 5px;
  border: 2px solid #19407D;

      &:hover{
  border: none;
  background: #C2FDE0;
  color:#19407D;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
  border: 2px solid #ffffff;

      }

}
