.button-blue {
  background: #19407D;
  height: 42px;
  width: 144px;
  left: 1161px;
  top: 655px;
  border-radius: 70px;
  padding: 11px 30px 11px 30px;

  // While hovering
// Scroll to: "Button 2 state 2";
// Animate: Animate;
// animation-timing-function: ease-out;
// animation-duration: 300ms;

}
