// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "footer";
@import "map";
@import "button_orange";


.card-session {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0px 0px 6px 1px #17407C21;
  display: flex;
  // align-items: center;
  border-radius: 5px;
  // padding: 0;
  margin-bottom: 1em;
  padding-left: 0;
  position:relative;


}

.card-session img {
  height: 100%;
  width: 140px;
  object-fit: cover;
  background-color: gray;
}

.card-session h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  display: flex;
  align-items: center;

}

.card-session p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  display: flex;

}

.card-session .card-session-infos {
  padding: 16px;
  display: block;
  align-items: center;


}

.card-session .btn {
  position: absolute;
  bottom:0;
  right:0;
  // bottom: 10px;
  // right: 10px
  // margin-bottom: 10px;
}

.card-map {
  position: sticky;
  top: 100px;
  // height: 65%;
}

.mapping {
  width: 95%;
  position: sticky;
  top: 100px;
}

.mapping img {
  height: 80%;
  width: 80%;

  background-position: center;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 1px #17407C21;
  // position: fixed;
  position: sticky;
  bottom: 100px;

