@import "pages/create_bar";


.mapboxgl{
  position: absolute;
//  width: fit-content;
  border-radius: 15px;

}

.mapboxgl-popup {
  width: auto;
  border: 1px solid #19407D;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 5px;
  opacity: 0.9;
  background: #FFFFFF;
}

.mapboxgl-popup-content h2{
  color: #19407D;
  font-size: 20px;
  // line-height: 24px;
  text-transform: capitalize;


  letter-spacing: 0em;
  text-align: left;

}

.mapboxgl-popup-content p{
  color: #19407D;
  font-size: 16px;
  font-weight: 300;
  // line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.mapboxgl-ctrl-geocoder {
  background: #FFFFFF;
  border: 1px solid #19407D;
  border-radius: 15px;
  color:19407D;
  opacity: 0.9;

  box-shadow: none;
}


// .forming{
//   box-sizing: border-box;
//   border: 1px solid #19407D;
//   padding: 20px;
//   // height: 694px;
//   // width: 803px;
//   // left: 825px;
//   // top: 269px;
//   border-radius: 35px;
  // box-shadow: 0px 4px 4px 0px #00000040;
// }
