.navbar-lewagon {
  justify-content: space-between;
  background: white;
  width: 100%;
  left: 0px;
  top: 0px;
  box-shadow: 0px 0px 3px 1px #00000040;
  align-items:center;

}

.navbar-nav {
    align-items:center;
    display: flex;
    justify-content:flex-end;
}

.navbar > .container-fluid {
  max-width: 90%;

}

.search {
  max-width: 150px;
  margin-bottom: 0px;

}

.dropdown-menu {
  margin: 20px 20px 20px;
  border-radius: 20px;
  border: 1px solid #19407D;
  min-width: 260px;


}

.dropdown-menu h3{
  padding: 16px;
  font-size : 22px
}

.dropdown-menu p{
  padding: 4px, 16px;
  font-size : 16px;
  font-weight: 300;
  color: #19407D;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 30px;

}

.navbar-lewagon .navbar-brand img {
  width: 200px;
  margin: 10px;
}

.nav-link {
  font-family: 'Josefin Sans';
  font-size: 16px;
  // font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: white;

  gap: 10px;
  flex: none;
  order: 0;
  flex-grow: 0;

}

#filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  .category-option {
    padding: 0.5rem !important;
    width: 90%;
  }
}


 #filter .blue {
    color: #FFFFFF;
    border-radius: 25px;
    padding: 10px 12px 10px 12px;
    font-family: 'Josefin Sans';
    font-style: light;
    font-size: 16px;
    line-height: 25px;
    color: #19407D;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #19407D;
    background-color: #FFFFFF;
    margin-left: 30%;
    margin-bottom: 10PX;

        &:hover{
    border: none;
    background: #C2FDE0;
    color:#19407D;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
    border: 2px solid #ffffff;


        }
      }

#filter .dropdown-toggle {
  color: #FFFFFF;
    border-radius: 25px;
    padding: 10px 12px 10px 12px;
    font-family: 'Josefin Sans';
    font-style: light;
    font-size: 16px;
    line-height: 25px;
    color: #19407D;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 5px;
    border: 2px solid #19407D;
    background-color: #FFFFFF;

        &:hover{
    border: none;
    background: #C2FDE0;
    color:#19407D;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
    border: 2px solid #ffffff;



  }

}

.search-bar {
  text-align: start;
  width: 500px;
  .form-control {
    color: #FFFFFF;
    border-radius: 25px;
    padding: 10px 12px 10px 12px;
    font-family: 'Josefin Sans';
    font-style: light;
    font-size: 16px;
    line-height: 25px;
    color: #19407D;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
    margin-right: 5px;
    border: 1px solid #19407D;
  }

  .blue {
    color: #FFFFFF;
    border-radius: 25px;
    padding: 10px 12px 10px 12px;
    font-family: 'Josefin Sans';
    font-style: light;
    font-size: 16px;
    line-height: 25px;
    color: #19407D;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 20px;
    border: 1px solid #19407D;
    background-color: #FFFFFF;

        &:hover{
    border: none;
    background: #C2FDE0;
    color:#19407D;
    animation-timing-function: ease-out;
    animation-duration: 300ms;

        }
  }
}
